<div style="border: 2px solid red">
  <div class="card mb-3" style="max-width: 540px" *ngFor="let item of list">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ item.image }}" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">
            {{ item.description }}
          </p>
          <p class="card-text">
            <small class="text-muted">{{ item.description_sub }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
